body {
    outline: none;
    user-select: none;

    -webkit-user-select: none;
    -webkit-text-size-adjust: none;

    cursor: default;
}

p {
    hyphens: auto;
}

input, textarea {
    -webkit-user-select: text;
    user-select: text;
    resize: none;
}
